.side-navigation {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  border-right: 1px solid #d9d9d9;
}

.side-navigation ul {
  align-self: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-navigation img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.items {
  margin-top: 5rem;
  font-weight: bold;
  font-size: 1.7rem;
}
