/* 전체 차량 정보 컨테이너 스타일 */
.car-info-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #eeffee;
  box-sizing: border-box;
  width: 100vw;
  margin-bottom: "1rem";
}

.username-container {
  margin-left: 4rem;
  text-align: left;
}

.username-highlight {
  font-size: 35px;
  color: #007bff;
  font-weight: bold;
}
.username-highlight2 {
  font-size: 30px;
  font-weight: bold;
}

/* 차량 정보 내부 컨테이너 row스타일 */
.car-info-rowcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* 차량 정보 컨테이너 column스타일
.car-info-columncontainer{
  display: flex;
  flex-direction: column;
} */

.car-info-left {
  flex: 0.7;
  padding-right: 20px;
  padding-left: 50px;
  font-family: "Arial", sans-serif;
}

.car-info-left p {
  /* font-size: 16px; */
  margin: 5px 0;
  /* color: #555; */
}

.car-info-center {
  flex: 1;
  flex-direction: column;
  gap: 10px;
  /* padding-right: 200px; */
  padding-top: 30px;
  font-family: "Arial", sans-serif;
}

.car-info-center p {
  font-size: 16px;
  margin: 5px 0 5px 0; /* 상, 우, 하, 좌 */
  width: 50%;
  color: #555;
}
.car-info-center span {
  width: 150px;
}

.info-row {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.orange-bold-style {
  font-weight: bold;
  color: #ff7700;
}

.car-info-right {
  margin-right: 50px;
}
/* 차량 이미지 스타일 */
.car-info-right img {
  width: 300px;
  height: auto;
}

.car-info-trashbutton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #d6d1d1;
}
.car-info-trashbutton:hover svg {
  color: red;
}

.row-hipen-style {
  height: 3px;
  width: 50%;
  background-color: #d9d9d9;
}
