body {
  margin-left: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.add-car-button {
    background-color: #07C8A3; 
    border: none;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }