/* 전체 컨테이너 */
.car-detail-container {
  display: flex;
  width: 870px;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* background-color: #f9f9f9; */
  color: #333;
  /* gap: 10px; */
}

/* 이미지 섹션 */
.car-image-section {
  width: 25rem;
  max-width: 25rem;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.car-image {
  width: 400px;
  height: 280px;
  object-fit:cover;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

.loading-placeholder {
  font-size: 18px;
  color: #999;
  font-weight: bold;
  text-align: center;
}

/* ============================ */

/* 차량 기본 정보 섹션 */
.car-basic-info {
  width: 100%;
  max-width: 800px;
  text-align: left;
}
.car-basic-info-row{
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 30px;
}
.car-basic-info-row p{
  height: 21.5px;
}
.car-basic-info-column{
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

.car-basic-info h2 {
  margin: 10px 0 10px 0; /*위, 오른쪽, 아래, 왼쪽*/
}

/* ============================ */

/* 주요 옵션 섹션 */
.car-options-section {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
}

.car-options-section h2 {
  margin: 10px 0 10px 0; /*위, 오른쪽, 아래, 왼쪽*/
}

.options-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option-item {
  background-color: #f0f0f0;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
}

/* 차량 설명 섹션 */
.car-description-section {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
}

.car-description-section h2 {
  margin: 10px 0 20px 0; /*위, 오른쪽, 아래, 왼쪽*/
}

.car-description-section p {
  font-size: 16px;
  line-height: 1.6;
}

.car-grid-section {
  width: 25rem;
  max-width: 25rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  /* background-color: #4caf50; */
}

/* 그리드 설정 */
.image-grid {
  width: 100%;
  max-width: 25rem;
  height: 6rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 한 행에 4개의 이미지 */
  grid-template-rows: repeat(2, 1fr); /* 한 행에 4개의 이미지 */
  gap: 0px;
  /* background-color: aqua; */
}

/* 각 그리드 항목 설정 */
.grid-item {
  position: relative;
  overflow: hidden;
  width: "5rem";
  height: "5rem";
  border: 0.1px solid black; /* 각 그리드 항목에 경계선 추가 */
}

.grid-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* .grid-image:hover {
  cursor: pointer;
} */

/* 비어 있는 이미지를 회색으로 채우기 */
.no-image {
  background-color: #d9d9d9; /* 회색 배경 */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
}
.no-image-text {
  display: flex;
  color: #999;
  padding-left: 19px;
  padding-top: 1px;
}

.car-detail-first-container {
  display: flex;
  flex-direction: row;
}

.car-detail-first-image-container {
  display: flex;
  flex-direction: column;
}

.car-detail-first-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 2rem;
  margin-bottom: 40px;
}
.car-detail-first-content h1 {
  font-size: 24px;
  margin: 0px 0px 10px 0px; /*위, 오른쪽, 아래, 왼쪽*/
  font-weight: bold;
}

.car-detail-first-content-basic-info1 {
  display: flex;
  flex-direction: row;
  align-items: start; /* 수직 정렬 */
  justify-content: start; /* 부모 안에서 수평 정렬 */
}
.car-detail-first-content-basic-info1 p {
  margin: 0px 5px 10px 0px; /*위, 오른쪽, 아래, 왼쪽*/
  color: #bababa;
  font-size: 15px;
  display: flex; /* 텍스트를 포함한 컨텐츠를 정렬 가능하게 설정 */
  align-items: center; /* 텍스트 수직 정렬 */
  justify-content: center; /* 텍스트 수평 정렬 */
  height: 100%; /* 부모 높이에 맞게 설정 */
}

.row-hipen-style {
  margin: 0px;
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
}

.car-detail-first-content-basic-info2 {
  display: flex;
  flex-direction: row;
  align-items: start; /* 수직 정렬 */
  justify-content: start; /* 부모 안에서 수평 정렬 */
}
.car-detail-first-content-basic-info2 p {
  margin: 0px 5px 0px 0px; /*위, 오른쪽, 아래, 왼쪽*/
  font-size: 15px;
  display: flex; /* 텍스트를 포함한 컨텐츠를 정렬 가능하게 설정 */
  align-items: center; /* 텍스트 수직 정렬 */
  justify-content: center; /* 텍스트 수평 정렬 */
  height: 100%; /* 부모 높이에 맞게 설정 */
}
.car-detail-first-content-basic-info2 h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
.car-detail-first-content-basic-info2 h2 {
  margin: 0px 5px 0px 20px; /*위, 오른쪽, 아래, 왼쪽*/
  font-size: 20px;
  color: #07c8a3;
  display: flex; /* 텍스트를 포함한 컨텐츠를 정렬 가능하게 설정 */
  align-items: center; /* 텍스트 수직 정렬 */
  justify-content: center; /* 텍스트 수평 정렬 */
  height: 100%; /* 부모 높이에 맞게 설정 */
}
.car-detail-first-content-basic-info2 button {
  margin: 10px 0px 10px auto; /*위, 오른쪽, 아래, 왼쪽*/
  font-size: 12px;
  color: #ff3232;
  display: flex;
  align-items: center; /* 텍스트 수직 정렬 */
  justify-content: end; /* 텍스트 수평 정렬 */
  border: 1px solid #ff3232;
  background-color: #fff;
  border-radius: 25px;
  height: 30px;
  cursor: pointer;
}

.car-detail-first-content-basic-info3 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center; /* 수직 정렬 */
  justify-content: space-evenly; /* 부모 안에서 수평 정렬 */
}
.car-detail-first-content-basic-info3 img {
  width: 70px;
  height: auto;
  cursor: pointer;
}
.car-detail-first-content-basic-info3-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수직 정렬 */
  justify-content: center; /* 부모 안에서 수평 정렬 */
}
.car-detail-first-content-basic-info3-column p {
  margin: 5px 0px 0px 0px; /*위, 오른쪽, 아래, 왼쪽*/
  align-items: center;
  justify-content: center; /* 부모 안에서 수평 정렬 */
  font-weight: bold;
  font-size: 15px;
}

.car-detail-first-content-basic-info4 {
  margin-top: 20px;
  width: 330px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center; /* 수직 정렬 */
  align-items: center;
  justify-content: center;
}
.car-detail-first-content-basic-info4 h3 {
  margin: 5px 0px 10px 0px; /*위, 오른쪽, 아래, 왼쪽*/
}
.car-detail-first-content-basic-info4-row {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 30px ;
}
.car-detail-first-content-basic-info4-row img{
  width: 25px;
  height: 20px;
  align-self: center; /* 수직 정렬 */
}
.car-detail-first-content-basic-info4-row p{
  color: #FF3355;
  font-weight: bold;
}
.car-detail-first-content-basic-info4-column {
  display: flex;
  flex-direction: column;
}

/* 옵션 컨테이너 */
.options-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 옵션 간 간격 */
  padding: 20px 0; /* 상하 여백 추가 */

}

.option-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: transparent; /* 외곽 원 제거 */
  text-align: center;
}

.option-image {
  width: 100px;
  height: 100px;
  object-fit: contain; /* 이미지 크기 조정 */
  border-radius: 0; /* 둥근 테두리 제거 */
  margin-bottom: 10px; /* 이미지와 텍스트 간 간격 */
  background-color: transparent; /* 불필요한 배경 제거 */
}

.option-item p {
  font-size: 14px;
  color: #555; /* 텍스트 색상 */
  margin: 0;
}

/* 이미지 슬라이드 버튼 */
.image-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
}

.image-nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.image-nav-btn:first-of-type {
  left: 10px;
}

.image-nav-btn:last-of-type {
  right: 10px;
}