.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.625rem; /* 10px */
  height: 12.5rem; /* 200px */
}

.ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  width: 50rem; /* 800px */
  height: 12.5rem; /* 200px */
}

.ad text {
  margin-top: 5.625rem; /* 90px */
}

.modelsearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem; /* 800px */
  height: 12.5rem; /* 200px */
  margin-top: 1.875rem; /* 30px */
}

.modelsearch text {
  align-self: flex-start; /* 텍스트를 왼쪽으로 정렬 */
  font-weight: bold;
}

.modelsearchAreaLine {
  flex-direction: column;
  display: flex;
  width: 50rem; /* 800px */
  height: 12.5rem; /* 200px */
  /* background-color: aqua; */
  border: 1px solid #ddd;
  border-radius: 0.313rem; /* 5px */
}

.button-container{
  background-color: #26CFAE;
  color: white;
  border: none;
  border-radius: 0.188rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.125rem;
}

.button-container:hover {
  color: black;
}